env:
  global:
    secure: AS1IjKP/QjHLPL6Wi0cJiAB2G4zgOBazt094d2LVSl07T6WTLaM6kOAMTyotobASpzD58mXJ1YceUX3ro/sSGrjgwCkTr3PNziyiRbS8rQvld53oTFBwl6/Op+976X8I3TXZWrZuT4v8oe8Yq7MYzGDita7Ggi+Bc7F0VP5jDSu0NQq7DrAWhuQZhN+zv5wEvuQwik3RHi3HBxDmJmx5Y2lSatjvqqPNsRaV1lhge5ZV51Ql99aBKX/1sPmy9fOfOplmMufdj9f6gY7mKQXMudJHExiGzRTikcPSkPIZzVK8Ciooft1eE4xoSSS8c17HkxuluTQg1H5Iat5E513hWKyiIa5/lsX6hyNdLGAA/NKXk1hzlXieqEZ51tHlO0+lBDPQfdELgoR/1DiKCo3N5VFbmR82VUSAIVA85Y2gxspYEB0OmtOSedFmpLFIDJew4UzTNfzzmBrWKt1eIp6ruUiE2j/UpiY31otBt5t35eH6wmhJRFeFrPjOiUNy50MbpTFDSWAS9TjHQMomem03tt+PbgzJHONdm6hB8W5e2XCGGsVy8ufSfhf/TL2SIJR52f2/QohKntQnCC/buuQacSBvg4MRGeve9z32aceI/GyJmYRLBN/nLiQXvBFePqbuUTmf7pANPJQ6+G9KqLd3S1y1jzNOm4jla4V4pz8R5Ys=

matrix:
  include:
    - sudo: required
      services:
        - docker
      env:
        - DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64

    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686 PRE_CMD=linux32

install:
  - docker pull $DOCKER_IMAGE

script:
  - docker run -e "PYPIPASSWORD=$PYPIPASSWORD" --rm -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/travis/build-wheels.sh
  - ls wheelhouse/
