env:
  global:
    - secure: k8W5AP3x+UGVw95bCoUfb7PxI9P9AVnIbjx5F/WBMLLFpoueThb8KOY1sYrPVnTgguNUZeCaWa4dDrpwZHMtZH8QWytIq4OAIXSNiowAj5owQSD3W4ias+qffFdcIXNYFUaSCfbdk7tSzp8Q1BfWUrPOOVtjWYQXULDDhCxzeXh0DldLqwOtAHlFgm/PVnUF9W4WQzWsupk6sglRXeJYvlrmNqwxtKCAbn7Rfbym0K2v0rh4lQc8a1sVBWPa0OA9wjym9ZK9GIBps+V8IBrgZLKLZvdRlKHUNFa/y8/1vbvqQ3vOM7qJDABCBzonfqrEOO54l/ermrtmFqK5w4U08xgbHG4GyEvJRxhn9adY3Vf6u67xyQEaeoORwhxbjUtXhwuRW0wO8VlENaBucLMyGV9+pYQO9cBqSbFidtlYdhT3NbW/WytA6e01TY3rGvQIvqQkbSVheouBldrwtDvVJNSdwYPaRbt2seOQt/ZHnr6hiOyjkNCn/eQsc2ZGiWcQ3XGSPhe0niCYmoTRSg2JFOo/ZOsEyvibix8mhXFLjR3BPy6KeiJcER2dldQY1ns10nS2JQlyhBsp5B6/SNlN8aEou4J03yq90hjpKkliL2Gk6N+VmRmUjM9XVqsQyO55Aw8r/j+i1tsyjO0KmXg+7xxG0xJGWxg74MsVefJfM0Y=

matrix:
  include:
    - sudo: required
      services:
        - docker
      env:
        - DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64

    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686 PRE_CMD=linux32

install:
  - docker pull $DOCKER_IMAGE

script:
  - docker run -e "PYPI_PASSWORD=$PYPI_PASSWORD" --rm -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/travis/build-wheels.sh
  - ls wheelhouse/
